.dbg1 {
    border: 1px dotted blue;
}

.dbg2 {
    border: 1px dotted red;
}

.dbg3 {
    border: 1px dotted lime;
}

#debug {
    border: 1px dotted #00ff0040;
    padding: 50px;
    margin: 15px;
}

h1 {
    /* background-color: #ff000024; */
}

p {
    /* background-color: #4eff0024; */
}

span.search
{
     /* border-bottom: 2px dotted red; */
    /* border: 3px dotted red; */
    
}
#header_container div {
    /* border: 1px dotted #0629db; */
}

svg {
    /* border: 1px solid red; */
}
