.dbg1 {
    border: 1px dotted blue;
}

.dbg2 {
    border: 1px dotted red;
}

.dbg3 {
    border: 1px dotted lime;
}

#debug {
    border: 1px dotted #00ff0040;
    padding: 50px;
    margin: 15px;
}




.header_wrapper
{ border: 1px dashed red;
border-radius: 10px;
background-color: #f004;}
.text_wrapper{
    border: 1px dashed lime;
    border-radius: 10px;
    background-color: #00ff0040;
}

#content{
    border: 1px solid yellow;
}