@charset "utf-8"; body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body, input,a.large,div {
    font-size: 16px;
    font-family: "Merriweather", system-ui;
    font-weight: 400;
    font-style: normal;
}

.search_input {
border: 2px solid;
	width: calc(100% - 55px);
    height: 32px;
    padding: 5px 5px 5px 45px;
    border-radius: 4px;
    outline: none;
}

a {
    text-decoration: none;
   
}
.rot90{
transform: rotate(90deg);}
h1 {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    /* margin-top: 42px; */
    margin-top: 5px;
	margin-bottom: 5px;
	cursor:pointer;
}

p {
    font-family: "Merriweather", system-ui;
    font-weight: 400;
    font-style: normal;
	margin-left:32px;
	
}

a:hover,input[ type="text"]:focus {
    /* transition: all .25s ease; */
}

.medicine_list >a {
    padding: 5px;
    /* margin:  25px; */
    /* border: 1px dotted red; */
}

.sep {
    color: #333;
}

#content {
    /* border: 1px dotted #bdd50f; */
    /* overflow-y: scroll; */
    margin:0px auto;
    padding-top:80px;
}

#header_container {
    /* border: 1px dotted lime; */
    width: 100%;
    /* background-color: #33333352; */
    position: fixed;
    top: 0px;
    height:70px;
	z-index:5555;
}

#header_line_1 > div {
    margin: 8px 12px;
}
#content, #header_line_1 {
    width: 60%;
}

.search_cont {
    position: relative;
    width: 100% ;
}

.search_img {
    position: absolute;
    left: 10px;
    top: 7px;
}

.flex_vc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.flex_hc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
.flex_left_center
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}
.flex_center_center

{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

img.sep
{
	width:1px;
	height:80%;
	margin:0px 5px;
}
img#theme,div#cat_cont
{
cursor:pointer;
}
div#cat_cont{
	position:relative;
}

div#cat_list
{
display:none;
	border:2px solid;
	border-radius:5px;
	position:absolute;
	right:0px;
	top:35px;z-index:9999;
	



	/* display: flex; */
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

	
}
div#cat_list>div {
/*	border:1px dotted #00ffb8; */
 padding:9px 15px;
}
.menu_buttons > *
{
	padding:0px 2px;
}