@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body,
input,
a.large,
div {
    font-size: 16px;
    font-family: "Merriweather", system-ui;
    font-weight: 400;
    font-style: normal;
}

#search_cont {
    position: relative;
    width: 100%;
}

#search_img {
    position: absolute;
    right: -10px;
    top: 7px;
}

#search_input {
    border: 2px solid;
    width: calc(100% - 55px);
    height: 32px;
    padding: 5px 55px 5px 15px;
    border-radius: 4px;
    outline: none;
}

a {
    text-decoration: none;
}

.rot90 {
    transform: rotate(90deg);
}

h1 {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    /* margin-top: 42px; */
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

p {
    font-family: "Merriweather", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-left: 32px;
}

a:hover,
input[ type="text"]:focus {
    transition: all .25s ease;
}


.sep {
    color: #333;
}

#content {
    margin: 0px auto;
    padding-top: 80px;
    height: 90%;
}

#header_container {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 70px;
    z-index: 5555;
}

#header_line>div {
    margin: 8px 12px;
}



.flex_vc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.flex_hc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.flex_left_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.flex_center_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}


/*********************
desktop
**********************/
@media (min-width: 1000px) {

    #content,
    #header_line_1 {
        width: 60%;
    }
}

/*********************
PHONE 
**********************/
@media (max-width: 1000px) {

    #content,
    #header_line_1 {
        width: 90%;
    }

    #content,
    #header_line_1 {
        padding-left: 5%;
        padding-right: 5%;
    }

    #logo_text {
        display: none;
    }
}

.search_result_cont {
    /* border:1px solid black; */
    margin-top: 10px;
    /* padding:5px; */
}

.search_result_doc {
    /* background-color:#c7c7c7; */

    padding: 4px;
}

.search_result_line {
    border-top: 1px dotted #808080;
    padding: 2px 2px 2px 20px;
    font-size: smaller;
}

span.search {
    /* font-style:italic;  font-weight:bold; */
    padding: 0px 6px;
    /* margin:12px; */
}


.nw {

    white-space: nowrap;
}

.pr {
    padding-right: 20px;
}

.categories_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vh;
}
.medicine_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-evenly;
    height: 80vh;
}
.medicine_list>a ,
.categories_list >a{
    padding: 5px;
}


.svghover {
    cursor: pointer;
}

.svghover:hover {
    transition: all 0.1s ease;
    fill: #72b7ff;
}

.svgbtn {
    width: 32px;
    height: 32px;
}

svg {
    border: 1px solid red;
}

#header_container div {
    border: 1px dotted #0629db;
}